In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
# print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.
import itertools
import os

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix

from tensorflow import keras
layers = keras.layers
models = keras.models

In [3]:
data = pd.read_csv("bbc-text.csv")

In [7]:
data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [7]:
data.shape

(2225, 2)

In [8]:
data.head(7)

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...
5       politics  howard hits back at mongrel jibe michael howar...
6       politics  blair prepares to name poll date tony blair is...

In [9]:
data['category'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [10]:
train_size = int(len(data) * .8)
print ("Train size: %d" % train_size)
print ("Test size: %d" % (len(data) - train_size))

Train size: 1780
Test size: 445

In [11]:
def train_test_split(data, train_size):
    train = data[:train_size]
    test = data[train_size:]
    return train, test

In [12]:
train_cat, test_cat = train_test_split(data['category'], train_size)
train_text, test_text = train_test_split(data['text'], train_size)

In [50]:
test_text

1780    hobbit picture  four years away  lord of the r...
1781    game firm holds  cast  auditions video game fi...
1782    clarke plans migrant point scheme anyone plann...
1783    radcliffe will compete in london paula radclif...
1784    serena becomes world number two serena william...
                              ...
2220    cars pull down us retail figures us retail sal...
2221    kilroy unveils immigration policy ex-chatshow ...
2222    rem announce new glasgow concert us band rem h...
2223    how political squabbles snowball it s become c...
2224    souness delight at euro progress boss graeme s...
Name: text, Length: 445, dtype: object

In [13]:
test_text

1780    hobbit picture  four years away  lord of the r...
1781    game firm holds  cast  auditions video game fi...
1782    clarke plans migrant point scheme anyone plann...
1783    radcliffe will compete in london paula radclif...
1784    serena becomes world number two serena william...
1785    ultimate game  award for doom 3 sci-fi shooter...
1786    algeria hit by further gas riots algeria suffe...
1787    fast lifts rise into record books two high-spe...
1788    muslim group attacks tv drama 24 a british mus...
1789    us tv special for tsunami relief a us televisi...
1790    brown names 16 march for budget chancellor gor...
1791    choose hope over fear - kennedy voters will ha...
1792    worldcom bosses  $54m payout ten former direct...
1793    de niro film leads us box office film star rob...
1794    robinson ready for difficult task england coac...
1795    us tv cuts nudity from bbc film a us tv networ...
1796    french honour for director parker british film...
1797    standoff  on deutsche s lse bid deutsche boers...
1798    chepkemei hit by big ban kenya s athletics bod...
1799    peace demo appeal rejected peace protestors ha...
1800    microsoft makes anti-piracy move microsoft say...
1801    continental  may run out of cash  shares in co...
1802    souness eyes summer move for owen newcastle bo...
1803    super size me wins writers  award super size m...
1804    dublin hi-tech labs to shut down dublin s hi-t...
1805    kelly trails new discipline power teachers cou...
1806    clarke to unveil immigration plan new controls...
1807    english clubs make euro history all four of en...
1808    dal maso in to replace bergamasco david dal ma...
1809    golden rule  intact  says ex-aide chancellor g...
                              ...
2195    owen delighted with real display michael owen ...
2196    gm issues 2005 profits warning general motors ...
2197    campbell returns to election team ex-downing s...
2198    asian banks halt dollar s slide the dollar reg...
2199    wall street cool to ebay s profit shares in on...
2200    uk pioneers digital film network the world s f...
2201    ban on forced retirement under 65 employers wi...
2202    local net tv takes off in austria an austrian ...
2203    profile: david miliband david miliband s rapid...
2204    argonaut founder rebuilds empire jez san  the ...
2205    dance music not dead says fatboy dj norman coo...
2206    kennedy questions trust of blair lib dem leade...
2207    california sets fines for spyware the makers o...
2208    snicket tops us box office chart the film adap...
2209    time to get tough on friendlies  for an intern...
2210    teens  know little  of politics teenagers ques...
2211    lopez misses uk charity premiere jennifer lope...
2212    christmas shoppers flock to tills shops all ov...
2213    progress on new internet domains by early 2005...
2214    bush budget seeks deep cutbacks president bush...
2215    junk e-mails on relentless rise spam traffic i...
2216    top stars join us tsunami tv show brad pitt  r...
2217    rings of steel combat net attacks gambling is ...
2218    davies favours gloucester future wales hooker ...
2219    beijingers fume over parking fees choking traf...
2220    cars pull down us retail figures us retail sal...
2221    kilroy unveils immigration policy ex-chatshow ...
2222    rem announce new glasgow concert us band rem h...
2223    how political squabbles snowball it s become c...
2224    souness delight at euro progress boss graeme s...
Name: text, Length: 445, dtype: object

In [15]:
max_words = 1000
tokenize = keras.preprocessing.text.Tokenizer(num_words=max_words, \
                                              char_level=False)
#tokenization has two level:
#1.on character
#2.on Words

In [16]:
tokenize.fit_on_texts(train_text) # fit tokenizer to our training 
#text data(do padding)
x_train = tokenize.texts_to_matrix(train_text)
x_test = tokenize.texts_to_matrix(test_text)

In [17]:
encoder = LabelEncoder()
encoder.fit(train_cat)
y_train = encoder.transform(train_cat)
y_test = encoder.transform(test_cat)

In [18]:
# Converts the labels to a one-hot representation
num_classes = np.max(y_train) + 1
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

In [19]:
print('x_train shape:', x_train.shape)
print('x_test shape:', x_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

x_train shape: (1780, 1000)
x_test shape: (445, 1000)
y_train shape: (1780, 5)
y_test shape: (445, 5)

In [20]:
batch_size = 32
epochs = 4
#drop_ratio = 0.5

In [21]:
model = models.Sequential()
model.add(layers.Dense(512, input_shape=(max_words,)))
model.add(layers.Dense(212 , activation = 'relu'))
model.add(layers.Activation('relu'))
model.add(layers.Dense(num_classes))
model.add(layers.Activation('softmax'))

model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\me\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [22]:
history = model.fit(x_train, y_train,batch_size=batch_size,epochs=epochs,verbose=1,validation_split=0.1)

Train on 1602 samples, validate on 178 samples
Epoch 1/4
1602/1602 [==============================] - 1s 682us/sample - loss: 0.3267 - acc: 0.8995 - val_loss: 0.2046 - val_acc: 0.9213
Epoch 2/4
1602/1602 [==============================] - 0s 206us/sample - loss: 0.0366 - acc: 0.9888 - val_loss: 0.1440 - val_acc: 0.9494
Epoch 3/4
1602/1602 [==============================] - 0s 214us/sample - loss: 0.0164 - acc: 0.9956 - val_loss: 0.1283 - val_acc: 0.9607
Epoch 4/4
1602/1602 [==============================] - 0s 207us/sample - loss: 0.0016 - acc: 1.0000 - val_loss: 0.1286 - val_acc: 0.9663

In [23]:
score = model.evaluate(x_test, y_test,\
                       batch_size=batch_size, verbose=1)

445/445 [==============================] - 0s 340us/sample - loss: 0.1697 - acc: 0.9483

In [24]:
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: 0.16969491524642774
Test accuracy: 0.9483146

In [25]:
# model.predict(x_train[0])
x_train[0].shape

(1000,)

# Hyperparameter tunning

This is a good time to go back and tweak some parameters such as epoch, batch size, dropout ratio, network structure, activation function, and others, to see if you can improve the accuracy.

In this particular case, to make it more challenging, I recommend reducing the max words of the call to keras.preprocessing.text.Tokenizer. This will reduce the number of words for each input sample, thus making it more challenging to accurately predict the category. (Notice that not all hyperparameters are necessarily inside the model. This is one such example.)

The default was up to 1000 words per article. See what happens when you reduce that number to 200 words, or 50 words, or even fewer. As the evaluation accuracy drops, the effects of your hyperparameter tuning will be more pronounced, with successful adjustments making meaningful improvements to the model performance.

To make this process easier to manage, I've encapulated the model definition and training and evaluation calls into one function call. You can add additional parameters as needed.

In [43]:
#by using hyperprameter tunning

def run_experiment(batch_size, epochs, drop_ratio):
  print('batch size: {}, epochs: {}, drop_ratio: {}'.format(
      batch_size, epochs, drop_ratio))
  model = models.Sequential()
  model.add(layers.Dense(512, input_shape=(max_words,)))
  model.add(layers.Activation('relu'))
  model.add(layers.Dropout(drop_ratio))
  model.add(layers.Dense(num_classes))
  model.add(layers.Activation('softmax'))

  model.compile(loss='categorical_crossentropy',
                optimizer='adam',
                metrics=['accuracy'])
  history = model.fit(x_train, y_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=0,
                    validation_split=0.1)
  score = model.evaluate(x_test, y_test,
                       batch_size=batch_size, verbose=0)
  print('\tTest loss:', score[0])
  print('\tTest accuracy:', score[1])

In [44]:
batch_size = 16
epochs = 4
drop_ratio = 0.4
run_experiment(batch_size, epochs, drop_ratio)

batch size: 16, epochs: 4, drop_ratio: 0.4
	Test loss: 0.13274328306819616
	Test accuracy: 0.9640449

In [45]:
text_labels = encoder.classes_

for i in range(10):
    prediction = model.predict(np.array([x_test[i]]))
    predicted_label = text_labels[np.argmax(prediction)]
    print(test_text.iloc[i][:50], "...")
    print('Actual label:' + test_cat.iloc[i])
    print("Predicted label: " + predicted_label + "\n")

hobbit picture  four years away  lord of the rings ...
Actual label:entertainment
Predicted label: entertainment

game firm holds  cast  auditions video game firm b ...
Actual label:tech
Predicted label: tech

clarke plans migrant point scheme anyone planning  ...
Actual label:politics
Predicted label: politics

radcliffe will compete in london paula radcliffe w ...
Actual label:sport
Predicted label: sport

serena becomes world number two serena williams ha ...
Actual label:sport
Predicted label: sport

ultimate game  award for doom 3 sci-fi shooter doo ...
Actual label:tech
Predicted label: tech

algeria hit by further gas riots algeria suffered  ...
Actual label:business
Predicted label: business

fast lifts rise into record books two high-speed l ...
Actual label:tech
Predicted label: tech

muslim group attacks tv drama 24 a british muslim  ...
Actual label:entertainment
Predicted label: entertainment

us tv special for tsunami relief a us television n ...
Actual label:entertainment
Predicted label: entertainment

In [77]:
test_text.iloc[3]

'radcliffe will compete in london paula radcliffe will compete in the flora london marathon this year after deciding her schedule for 2005.  the 31-year-old won the race in 2002 on her marathon debut  defended her title 12 months later and will now seek a third title in the 17 april race.  it doesn t get any better than this for the 25th anniversary   said race director david bedford.  after announcing the greatest men s field ever we now have the greatest women s distance runner ever.  three years ago radcliffe smashed the women s world record in two hours 18 minutes 15 seconds.  the bedford star returned to london 12 months later  lowering her mixed-race world record of 2:17:18  which she set in chicago in october 2003  by one minute 53 secs. radcliffe s career took a setback when she failed to complete the olympic marathon and later dropped out of the athens 10 000m last august. but the 31-year-old bounced back to win the new york marathon in november. radcliffe  however  passed up the chance to go for the  big city  marathon grand slam. with wins in chicago  london and new york  only the boston marathon remains to be conquered but that takes place a day after london.  boston is definitely a race i want to do at some point  but london is very special to me   said radcliffe.  i don t pick races thinking about things like pressure. i pick the ones in my heart i really want to do.  i love the atmosphere  crowds and course and know it will always be a great quality race.  it is also the 25th anniversary this year which adds to the occasion.'

In [90]:
prediction = model.predict(np.array([x_test[3]]))

In [91]:
prediction

array([[1.9043247e-06, 4.1441228e-03, 1.5608538e-06, 9.9580485e-01,
        4.7609799e-05]], dtype=float32)

In [92]:
predicted_label = text_labels[np.argmax(prediction)]
predicted_label

'sport'

In [88]:
#print(test_text.iloc[:50], "...")
print('Actual label:' + test_cat.iloc[3])
print("Predicted label: " + predicted_label + "\n")

Actual label:sport
Predicted label: sport